# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/en/latest/topics/scrapyd.html

[settings]
default = DealScrapper.settings

[deploy]
url = http://dash.scrapinghub.com/api/scrapyd/
username = 70ab8458aa984edb9214bb95f688a535
password =
project = 5903
